@import '../components/Header/Header';
@import '../components/ImageGrid/ImageGrid';
@import '../components/ImageGrid/ImageGrid';
@import '../components/NameAutoComplete/NameAutoComplete';

body {
  height: 400px;
  width: 350px;
  margin: 0;
}

h1 {
  font-family: 'Futura', sans-serif;
  font-weight: 200;
}

select, input {
  font-family: 'Futura', sans-serif;
  font-size: 16px;
  background-color: white;
  border: black solid 3px;
  width: 310px;
  display: block;
  height: 40px;
  min-height: 40px;
  border-radius: 0;
  outline: none;
  margin-bottom: 1rem;
  padding: .2rem;
}

button {
  outline: none;
  max-width: 300px;
  background-color: #e5500b;
  border: solid 3px #e5500b;
  color: white;
  padding: .5rem 2rem;
  font-family: 'Futura', sans-serif;
  font-size: 16px;
}

button:hover {
  opacity: .8;
}

button:active {
  opacity: 1;
}

.title {
  margin-top: 0;
  font-family: 'Futura', sans-serif;
  font-weight: 200;
}

.content {
  height: 370px;
  width: 310px;
  color: white;
  font-size: 14px;
  font-family: 'Futura', sans-serif;
  background-color: #2144b7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
